 /* form start */
 @media (max-width:767px) {
     #enquiry-now {
         position: static;
         margin: 20px auto;
         width: 93%;
         float: none !important;
         border: solid 1px #ddd;
         border-radius: 6px;
         box-shadow: 0 0 10px #999;
     }

     .desktopview {
         display: none
     }

     .mobileview {
         display: block
     }

     h2 {

         font-size: 25px;
     }

     .main-banner {

         margin-top: 0;
     }

     .banner-text {

         top: 40px;

         transform: translateY(0%);
     }

     .main-banner p {

         font-size: 15px;
     }

     .banner-text h1 {

         font-size: 27px;
         font-weight: 700;
         line-height: 35px;
     }

     html {
         scroll-behavior: smooth;
     }

     .applybtn a {
         position: fixed;
         right: 0px;
         bottom: -1px;
         transform: rotate(0deg);
         top: inherit;
         color: #fff;
         padding: 6px 15px 9px;
         text-transform: uppercase;
         font-size: 17px;
         margin-top: 0px;
         border: solid 0px #f48533;
         cursor: pointer;
         z-index: 9;
         text-decoration: none;
         display: none;
         border-radius: 0px;
         font-weight: 600;
         /* display: none; */
         width: 100%;
         text-align: center;
     }

     p {

         font-size: 14px;
     }

     .applybtn a {
         background: #02a0bd;
     }

     .actbtn a {
         display: inline-block;
         border: solid 1px #cccccc;
         color: #4c4c4c;
         padding: 6px 34px 6px 14px;
         font-size: 12px;
         position: relative;
         margin: 3px;
         text-decoration: none;
         min-width: 46%;
         transition: all 0.5s;
     }

     .programmes .heading {
         margin-bottom: 13px;
     }

     .faqquestiontitle p {
         font-size: 14px;
         padding-right: 10px;
         padding-left: 46px;
     }

     .faqanswer .actbtn a {
         min-width: 138px;
         margin-bottom: 13px;
         padding-left: 23px;
         padding-right: 0;
     }

     .edge ul li {
         width: 100%;
         text-align: center;
         padding: 0;
         background: rgba(255, 255, 255, 0.1);
         padding: 29px 0;
         border-radius: 10px;
         margin-bottom: 11px;
     }

     .edge ul p {
         padding: 13px 60px 0;
         margin: 0;
         min-height: auto;
         text-align: center;
         max-width: 100%;
     }

     .edge ul li span {
         left: 50%;
         margin-left: auto;
         position: static;
     }



     .faqanswer .actbtn a span {
         left: 6px;
     }

     .image02 {
         position: static;

     }

     .edge.paddingbox {
         padding-bottom: 0;
     }

     .logodiv {
         box-shadow: 0 0 3px #ddd;

         margin: 0;
         max-width: 100%;
     }

     .edge ul li:nth-child(2n) {
         background: rgb(227, 187, 62, 0.6);
     }

     .journey .heading.text-center.mb-5 {

         margin: auto auto 42px !important;
     }

     .logodiv img {
         max-width: 103px;

         height: 62px;
         object-fit: scale-down;
         padding: 2px;
     }

     .paddingbox {
         padding: 35px 0;
     }

     hr {
         border-top: solid 1px #bfcfc0;
         margin: 26px 0 0;
     }

     .faqaccordians {

         margin-top: 20px;
     }

     .faqquestiontitle span {

         top: -3px;

         width: 39px;

         font-size: 34px;
         height: 39px;
         line-height: 36px;

     }

     .owl-nav {
         text-align: center;
         margin: 10px 0 0;
     }

     .listb {
         background-image: url(../images/bg.jpg);

     }

     .listb {
         background-image: url(../images/bg.jpg);
         background-size: 100%;
     }

     .listb h3,
     .listb p {
         color: #fff
     }

     .listb img {
         width: 38px !important;
         height: 48px;
         object-fit: scale-down;
         margin: auto;
     }

     .heading.mb-5 {
         margin-bottom: 0 !important;
     }

     .owl-dots {
         display: none
     }

     .edge ul {
         padding-right: 0;
         margin-top: 28px;
     }

     .journey ul {
         flex-wrap: wrap;
         margin: 0;
     }

     .journey ul li:nth-child(2n):before {
         display: none
     }

     .journey ul li {
         width: 48%;
         border-bottom: solid 2px #ddd;
         margin-bottom: 14px;
         padding-bottom: 14px;
         background: #f2f2f2;
         padding-top: 10px;
     }

     .journey ul li::before {

         display: none;
     }

     .ben img {
         margin-bottom: 0;
     }

     .benefit {
         height: auto;
         padding-bottom: 6px
     }

     .passed {

         left: 0;
         max-width: 100%;
         margin-left: auto !important;
     }

     .passed ul {
         max-width: 220px;
         margin: auto auto auto 80px;
     }

     .passed ul li span {
         width: 42px;
         left: -69px;
         top: 50%;
         margin-top: -27px;
         background: #fff;
     }

     .passed ul li::before {

         width: 51px;

         left: -52px;
         top: 50%;
         transform: translateY(-50%);
     }

     .passed ul li {

         padding: 14px;

     }

     .passed ul li:last-child {
         margin-bottom: 0
     }

     .corporate .owl-nav {

         margin-bottom: 27px;
     }

     button.owl-prev,
     button.owl-next {
         width: 26px;
         height: 26px;
     }

     button.owl-prev span,
     button.owl-next span {

         font-size: 28px;

         line-height: 19px;
     }

     .corporate {

         padding-top: 20px
     }

     .actbtn.mt-5 {
         margin-top: 0 !important;
     }

     .paddingbox.aboutcourse {
         padding-top: 6px;
     }









 }
